# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-619z3.us-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=WANC346YHLT4KSMK
sasl.password=irYxBNojufhFY5fB5NWj2ODmGIoN3bGVCHEPBWUid+2nB+w4/ULRLBy0VA3JN4X3

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

client.id=ccloud-python-client-7f93276f-fe34-4fb4-8617-0ed677c7e1cb
